<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobidevgurls.user.help">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="Help!"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name="com.mobidevgurls.user.help.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobidevgurls.user.help.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.mobidevgurls.user.help.MainActivity"
            android:label=" "
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.mobidevgurls.user.help.AvailableHelpersActivity"
            android:label="Available Helpers"
            android:theme="@style/AppBaseTheme2" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.mobidevgurls.user.help.GetHelpDetailsActivity"
            android:label="Help Request" />
        <activity
            android:name="com.mobidevgurls.user.help.HelpRequestDetailsActivity"
            android:label="Help Request" />
        <activity
            android:name="com.mobidevgurls.user.help.UserProfileActivity"
            android:label="Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobidevgurls.user.help.HelperHelpDetailsActivity"
            android:label="Approved Help Details" />
        <activity
            android:name="com.mobidevgurls.user.help.HelpeeHelpDetailsActivity"
            android:label="Approved Help Details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobidevgurls.user.help.MainSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobidevgurls.user.help.UserSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mobidevgurls.user.help.ProjectsActivity"
            android:label="Projects" />
        <activity
            android:name="com.mobidevgurls.user.help.PendingRequestsActivity"
            android:label="Pending Requests" />
        <activity
            android:name="com.mobidevgurls.user.help.ProjectDetailsHelpeeActivity"
            android:label="Project Details" />
        <activity
            android:name="com.mobidevgurls.user.help.ProjectDetailsHelperActivity"
            android:label="Project Details" />
        <activity
            android:name="com.mobidevgurls.user.help.HelperSettingsActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.mobidevgurls.user.help.DeclinedRequestsActivity" />
        <activity android:name="com.mobidevgurls.user.help.TutorialActivity"></activity>
    </application>

</manifest>